@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

body {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(0, 8, 8);
    background: url('background.svg') no-repeat;
    background-size: cover;
    background-position: top;
}

/* Estilo do elemento filho */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.0);
    backdrop-filter: blur(5px);
    /* Cor semi-transparente para escurecer a imagem */
}

.main {
    z-index: 999;
    flex-direction: column;
    color: white;
    position: relative;
    width: 94vw;
    max-width: 900px;
    height: 87vh;
    max-height: 600px;
    min-height: 700px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    transform: scale(1);
    user-select: none;
    background-color: rgba(0, 0, 0, 0.300);
    align-items: center;
    
}

.main .width-img,
.main .height-img {
    display: flex;
    text-align: center;
}

.sizeImg{
    margin-bottom: 5px;
}

.main .send {
    z-index: 99;
    margin: 20px;
    background: transparent;
    color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.main .img {
    display: flex;
    margin: 5px;
}

.main .imagemSVG,
.main .urlData {
    display: flex;
    width: 38vw;
    max-width: 350px;
    min-width: 150px;
    height: 30vh;
    max-height: 350px;
    min-height: 320px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.500);
    border-radius: 15px;
    overflow: hidden;
    font-size: 1px;
    color: rgba(255, 255, 255, 0.500);
    border: none;
}

.imagemSVG svg {
    max-width: 100%;
    max-height: 100%;
}

.main .size {
    margin-top: 10px;
}

.download,
.copyLink {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 1s, height 1s ease;
    margin: 10px;
    display: inline-flex;
}

.download:hover,
.copyLink:hover {
    z-index: 9999;
    background: white;
    color: black;
    transform: scale(1.05);

}

.main .sizeSVG,
.main .size {
    font-size: 10px;
}

.drop-area {
    margin: 20px;
    border: 2px dashed #ccc;
    padding: 10px 100px 10px 100px;
    border-radius: 15px;
    text-align: center;
}

.buttons{
    position: fixed;
    z-index: 999;
    bottom: 10px;
}

input[type="file"] {
    display: none;
    border-radius: 15px;
    /* esconde o botão de upload padrão */
}

h2 {
    margin-top: 20px;
    z-index: 99;
    padding: 10px;
    display: none;
}

label.upload-button {
    margin: 5px;
    background: transparent;
    color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1);
    display: inline-block;
}

/* esconda o botão de upload padrão */
input[type="file"] {
    display: none;
}

label.upload-button:hover {
    background: white;
    color: black;
    transform: scale(1.05);
}